jupyter
numpy
polars
pandas
selenium
beautifulsoup4
webdriver-manager
matplotlib
nbimporter
scikit-learn
statsmodels
scipy
openpyxl
python-dotenv
requests

# Providers to get financial information
pandas-datareader

# Yahoo finance
yfinance

# Nasdaq data link
quandl
nasdaq-data-link

# Binance
python-binance
#binance

# Investing
investpy
investiny